@import url('https://fonts.googleapis.com/css?family=Signika|Vidaloka&display=swap');

/* ================================= */
/* ------------ Orden Css ---------- */
/* ================================= */

/*----------------------------------*/
/*
1)GENERAL
2)PARAGRAPHS
3)HEADERS H 
4)COLORS 
5)PADDING
6)MARGIN
7)IMAGE
8)HEADER TOP 3
9)NAVBAR
10)BUTTON
11)SERVICES
12)TESTIMONIALS
13)SUBSCRIBE 
14)FOOTER
15)RESPONSIVE
*/
/*-----------------------------------*/


/* ================================= */
/* ---------- General Css  --------- */
/* ================================= */

html {
	overflow-x:hidden;
}

body {
	font-family: 'Signika', sans-serif;
}

ol, ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

a{
	color: #0e1032;
}

a {
  text-decoration: none;
}

a:hover, a:active {
	outline:none;
	text-decoration: none;
}

a:focus, a:hover {
  color: #fff;
  text-decoration:none;
}

/* ---------- Paragraphs --------- */

p {
	line-height:25px;
	font-size: 20px;
	margin:0;
	color:#5a5a5a;
}

.p_1{
	line-height:25px;
	font-size: 15px;
	margin:0;
	color:#5a5a5a;

}

.p_15 {
	font-size:15px !important;
}

.p_14 {
	font-size:15px;
}

.p_17 {
	font-size:17px;
}

.p_18 {
	font-size:18px !important;
}

.p_20 {
	font-size:20px;
}

.p_24 {
	font-size:24px !important;
}

.p_36{
	font-size: 36px !important;
	font-family: 'Vidaloka', serif;
}

.p_48{
	font-size: 48px !important;
}

.p_56{
	font-size: 56px !important;
}


/* ---------- Headers H  --------- */
h1 {
	color:#0a0a0a;
	font-size:46px;
	margin:0;
	padding:0;
}
h2 {
	font-size:45px;
	color:#111111;
	margin:0;
	padding:0;
}
h3 {
	font-size:22px;
	margin:0;
	padding:0;
	color:#111111;
}
h4 {
	font-size:18px;
	margin:0;
	padding:0;
}

.h3style{
	margin-left: 25px;
	padding-top: 25px;
}

.p-60{
	padding-left: 50px;

}
/* ---------- colors  --------- */
.bg_white{
  background: #fff;
}
.color_white {
	color:#fff;
}
.bg_gray{
	background:#edf3f8;
}

.bg_light_gray{
	background:#f7f7f7 !important;
}
.bg_light_gray_2{
  background:#F2F2F2;

}

.bg_success {
	background:#FFB703 !important;
}

 .bg_blue{
  background:#0E264C;
}

#testimonials .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fff;
}
/* ---------- Padding  --------- */
.p-l{
  padding-left: 20px;
}
.p-0{
  padding: 0;

}
.p-t-10 {
	padding-top:10px;
}
.p-b-10 {
	padding-bottom:10px;
}
.p-t-15 {
	padding-top:15px;
}
.p-b-15 {
	padding-bottom:15px;
}
.p-t-20 {
	padding-top:20px;
}
.p-b-20 {
	padding-bottom:20px;
}
.p-t-25 {
	padding-top:25px;
}
.p-b-25 {
	padding-bottom:25px;
}
.p-t-30 {
	padding-top:30px;
}
.p-b-30 {
	padding-bottom:30px;
}
.p-t-35 {
	padding-top:35px;
}
.p-b-35 {
	padding-bottom:35px;
}
.p-t-40 {
	padding-top:40px;
}
.p-b-40 {
	padding-bottom:40px;
}
.p-t-45 {
	padding-top:45px;
}
.p-b-45 {
	padding-bottom:45px;
}
.p-t-50 {
	padding-top:50px;
}
.p-b-50 {
	padding-bottom:50px;
}
.p-t-55 {
	padding-top:55px;
}
.p-b-55 {
	padding-bottom:55px;
}
.p-t-60 {
	padding-top:60px;
}
.p-b-60 {
	padding-bottom:60px;
}
.p-t-65 {
	padding-top:65px;
}
.p-b-65 {
	padding-bottom:65px;
}
.p-t-70 {
	padding-top:70px;
}
.p-b-70 {
	padding-bottom:70px;
}
.p-t-75 {
	padding-top:75px;
}
.p-b-75 {
	padding-bottom:75px;
}
.p-t-80 {
	padding-top:80px;
}
.p-b-80 {
	padding-bottom:80px;
}
.p-t-85 {
	padding-top:85px;
}
.p-b-85 {
	padding-bottom:85px;
}
.p-t-90 {
	padding-top:90px;
}
.p-b-90 {
	padding-bottom:90px;
}
.p-t-100 {
	padding-top:100px;
}
.p-b-100 {
	padding-bottom:100px;
}
/* ---------- Margin --------- */
.margin-top-65{
	margin-top: -65px;
}
.m-t-10 {
	margin-top:10px;
}
.m-b-10 {
	margin-bottom:10px;
}
.m-t-15 {
	margin-top:15px;
}
.m-b-15 {
	margin-bottom:15px;
}
.m-t-20 {
	margin-top:20px;
}
.m-b-20 {
	margin-bottom:20px;
}
.m-t-25 {
	margin-top:25px;
}
.m-b-25 {
	margin-bottom:25px;
}
.m-t-30 {
	margin-top:30px;
}
.m-b-30 {
	margin-bottom:30px;
}
.m-t-35 {
	margin-top:35px;
}
.m-b-35 {
	margin-bottom:35px;
}
.m-t-40 {
	margin-top:40px;
}
.m-b-40 {
	margin-bottom:40px;
}
.m-t-45 {
	margin-top:45px;
}
.m-b-45 {
	margin-bottom:45px;
}
.m-t-50 {
	margin-top:50px;
}
.m-b-50 {
	margin-bottom:50px;
}
.m-t-55 {
	margin-top:55px;
}
.m-b-55 {
	margin-bottom:55px;
}
.m-t-60 {
	margin-top:60px;
}
.m-b-60 {
	margin-bottom:60px;
}
.m-t-65 {
	margin-top:65px;
}
.m-b-65 {
	margin-bottom:65px;
}
.m-t-70 {
	margin-top:70px;
}
.m-b-70 {
	margin-bottom:70px;
}
.m-t-75 {
	margin-top:75px;
}
.m-b-75 {
	margin-bottom:75px;
}
.m-t-80 {
	margin-top:80px;
}
.m-b-80 {
	margin-bottom:80px;
}
.m-t-85 {
	margin-top:85px;
}
.m-b-85 {
	margin-bottom:85px;
}
.m-t-90 {
	margin-top:90px;
}
.m-b-90 {
	margin-bottom:90px;
}
.m-t-100 {
	margin-top:100px;
}
.m-b-100 {
	margin-bottom:100px;
}
.m-t-110 {
	margin-top:110px;
}
.m-b-110 {
	margin-bottom:110px;
}
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 2%;
	width:44px;
	height:40px;
	z-index: 1000;
	display: none;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	line-height: 24px;
}
.back-to-top:hover{
	color:#fff;
}


/*=================================*/
/*-------------Image---------------*/
/*=================================*/


.img-services{
	display: block;width: 100%;height: auto;
}	

/* ================================= */
/* -------- Header Top Css  -------- */
/* ================================= */

#header-top .header-top-links {
	display: inline-block;
}
#header-top .cont_office {
	display: inline-block;
}
#header-top .nav-tabs > li {
	float:none;
}
#header-top .nav-tabs li .dropdown-toggle {
	color:#fff;
	border: medium none;
	border-radius: 0;
	font-size:14px;
	cursor: pointer;
	display: block;
	height: 45px;
	line-height: 45px;
	margin-right: 0;
	text-align: center;
	width: 166px;
	padding:0;
}
#header-top .nav-tabs {
	border-bottom:none;
}
#header-top .dropdown-menu {
	background-clip: padding-box;
	background-color: #fff;
	border:none;
	border-radius:0;
	box-shadow:none;
	float: right;
	font-size: 14px;
	left: 0;
	list-style: outside none none;
	margin:-1px 0;
	min-width: 100%;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: 1000;
}
#header-top .dropdown-menu > li > a {
	color: #fff;
	font-weight:normal;
	padding: 15px 20px;
	background:#111111;
}
#header-top .dropdown-menu > .active > a,
#header-top .dropdown-menu li > a:focus,
#header-top .dropdown-menu li > a:hover {
	background-color: #1d1d1d;
}
.heading > h4 {
  font-size: 25px;
}
.heading > h2 {
  font-weight:bold;
  text-transform: uppercase;
  font-family: 'Vidaloka', serif;
}


.nav > li > a{
 padding: 15px 80px;
}

#header-top .nav-tabs {
	border-bottom:none;
}
#header-top .cont_office select option {
	padding:15px 10px;
	background-color:#111111;
}
#header-top .cont_office select option:hover{
	background-color:#1d1d1d;
}
#footer_1 .header-top-links {
  text-align: right;
}
a:active, a:hover {
	outline:none;
	text-decoration:none;
}

.view{
	height: 750px;
}

.header .navbar {
  background-color: transparent !important;
}

.back-navbar{
  background-color: transparent !important;
}


#header-top_3 {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index:999;
}
.border_nav_top {
  border-top: 1px solid #fff;
}
#header-top_3 .get-tuch {
  display: inline-block;
  margin-left: 40px;
}
#header-top_3 .get-tuch i {
  display: inline-block;
  font-size: 34px;
  margin-right: 15px;
  vertical-align: text-bottom;
  color:#fff;
}
#header-top_3 .get-tuch > ul {
  display: inline-block;
}
#header-top_3 .get-tuch ul li h4, #header-top_3 .get-tuch ul li p {
  color: #fff !important;
  margin: 0;
  padding: 0;
}
#header-top_3 .wrap-sticky .bootsnav ul.nav > li {
  color: #131313;
  font-size: 14px;
  font-weight: 500;
  padding: 22px 19px !important;
  position: relative;
  text-transform: uppercase;
}
#header-top_3 .wrap-sticky .bootsnav ul.nav > li > a {
  padding: 0 !important;
}
#header-top_3 .wrap-sticky .bootsnav ul.nav > li:last-child {
  padding-right: 0 !important;
}
#header-top_3 .wrap-sticky .bootsnav ul.nav > li:first-child {
  padding-left: 0 !important;
}
#header-top_3 .wrap-sticky .attr-nav .search {
  margin-right: -28px;
  margin-top: 6px;
}
#header-top_3 .header_set {
  margin: 27px 0 86px 0;
}
.header_set .col-md-10 {
  text-align: right;
}
#header-top_3 .search a i {
  color: #fff;
  border-radius: 100%;
  padding: 5px;
  font-size: 18px;
  line-height: 5px;
}
#header-top_3 .wrap-sticky .attr-nav{
  border-left: none !important;
}
#header-top_3 .wrap-sticky  .navbar-brand {
  padding: 6px 15px;
}

#header-top_3 .cool-link_3 {
	display: inline-block;
	text-decoration: none;
}
#header-top_3 .cool-link_3::after {
  content: "";
  display: block;
  height: 3px;
  transition: width 0.3s ease 0s;
  width: 0;
  position: relative;
  top: -46px;
}
#header-top_3 .cool-link_3:hover::after , #header-top_3 .cool-link_3.active:after{
	width: 100%;
}
/* ================================= */
/* ---------- Navbar Css  ---------- */
/* ================================= */

.navbar-stikybottom{
	position: fixed;
	left: 0;
    right: 0;
    bottom: 0;
    z-index:999;
}

.wrap-sticky nav.navbar.bootsnav.sticked {
  position: fixed;
  transition: all 0.2s ease-in-out 0s;
  background: #fff;
  color: #076DF2;

}
.collapse.navbar-collapse.nav_bor_top {
 /* border-top: 1px solid rgba(255, 0, 0, .5);*/
  border-top: 1px solid #F5F5F6;
}

/* Navbar Atribute ------*/
nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu {
  left: -219px;
}
.attr-nav > ul > li > a {
	padding: 20px 15px;
}
ul.cart-list > li.total > .btn {
	border-bottom: solid 1px #cfcfcf !important;
	color: #fff !important;
	padding: 10px 15px;
}
.wrap-sticky {
	height:100% !important;
}
.navbar-sticky .social-icons li {
	width: 35px;
	height: 35px;
	line-height: 32px;
}
nav.navbar li.dropdown ul.dropdown-menu {
}
 @media (min-width: 1024px) {
/* Navbar General ------*/
    nav.navbar ul.nav > li > a {
	padding: 30px 15px;
	font-weight: 600;
}
nav.navbar .navbar-brand {
	margin-top: 0;
}
nav.navbar .navbar-brand img.logo {
	width: 50px;
}
nav.navbar .navbar-brand {
	margin-top: 0;
}
nav.navbar .navbar-brand img.logo {
	width:100%;
}
nav.navbar.bootsnav ul.nav > li > a {
  font-size: 14px;
  font-weight: 500;
  padding:18px 50px;
  text-transform: uppercase;
  position:relative;
  margin-bottom:2px;
}
.nav.navbar-nav.navbar-left {
	margin-left: -14px;
	margin-top:0;
  margin-bottom: -2px;
}
nav.navbar.bootsnav ul.nav > li > a:first-child {
	padding-left:0 !important;
}
nav.navbar.bootsnav ul.nav > li > a:hover {
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
	background-color:transparent;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li.active > a, .dropdown-menu > li > a:hover {
	background-color:transparent;
	text-decoration: none;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
	border:none;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
	width:230px;
}
.wrap-sticky .social-icons {
	clear: both;
	float: right;
	padding-top: 15px;
}
/* Navbar Center ------*/
    nav.navbar-center .navbar-brand {
	margin: 0 !important;
}
/* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand {
	margin: 10px !important;
}
/* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
	position: relative;
	top: -15px;
}
/* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav, nav.navbar-sidebar .navbar-brand {
	margin-bottom: 50px;
}
nav.navbar-sidebar ul.nav > li > a {
	padding: 10px 15px;
	font-weight: bold;
}
/* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white {
	background-color: rgba(255,255,255,0.3);
	border-bottom: solid 1px #bbb;
}
nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark, nav.navbar.bootsnav.navbar-transparent.dark {
	background-color:transparent;
	border-bottom:none;
}
nav.navbar.bootsnav.navbar-transparent.white .attr-nav {
	border-left: solid 1px #bbb;
}
nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav, nav.navbar.bootsnav.navbar-transparent.dark .attr-nav {
	border-left: solid 1px #555;
}
nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a, nav.navbar.bootsnav.no-background.white ul.nav > li > a {
	color: #fff;
}
nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a {
	color: #fff;
}
}
 @media (max-width: 992px) {
/* Navbar General ------*/
    nav.navbar .navbar-brand {
	margin-top: 0;
	position: relative;
	top: -2px;
}
nav.navbar .navbar-brand img.logo {
	width: 30px;
}
.attr-nav > ul > li > a {
	padding: 16px 15px 15px;
}
/* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav > li > a {
	padding: 15px 15px;
}
nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a {
	padding-right: 15px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
	padding-right: 30px !important;
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}
nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}
/* Navbar Full ------*/
     nav.navbar-full .navbar-brand {
	top: 0;
	padding-top: 10px;
}
}

/* ================================= */
/* ---------- Buttons Css  ---------- */
/* ================================= */

a {
  transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}

.btn-dark{
	border:1px solid transparent;
	padding:15px 36px;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius:5px;
	display: inline-block;
	font-size:12px;
	text-transform:uppercase;
	position:0;
	overflow:hidden;
	transition: color 1000ms ease 0s, background-color 1500ms ease 0s !important;
	background:#03A1F9;
	color:#fff;
}

.btn-dark:hover{
	background: #0E264c;
	color: #fff;
	transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}

.btn-services{
	
	padding: 15px 0px;
	display: inline-block;
	font-size:15px;
	text-transform:uppercase;
	position:0;
	overflow:hidden;
	transition: color 1000ms ease 0s, background-color 1500ms ease 0s !important;	
	color:#0E264c;
}
.btn-services:hover{
	color:#03A1F9;
	transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}

.btn-light{
	padding:16px 36px;
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius:5px;
	display: inline-block;
	font-size:12px;
	text-transform:uppercase;
	position:relative;
	z-index:1;
	overflow:hidden;
	transition: color 1000ms ease 0s, background-color 1500ms ease 0s !important;
	color:#fff;
	border: none;
}

.btn-light:hover{
	background: #000;
	color:#fff ;
	transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}


/* ================================= */
/* --------- Services  Css  --------- */
/* ================================= */
.services_box {
  background: #fff;
  padding: 25px 25px 40px 25px;
  transition: all 0.7s ease 0s;
  border-radius:5px;
  box-shadow: 10px 10px 9px 0px rgba(184,184,184,1);
}
.services_box > h3 {
  padding-bottom: 20px;
  padding-top: 30px;
  font-weight:bold;
}
.services_box > h4 {
  padding-top: 30px;
  font-size: 20px;
   font-weight:bold;
}

.services_box > p {
  line-height: 25px;
  font-size: 15px;
  margin: 0;
  color: #5a5a5a;
}

.services_box {
  margin-bottom:30px;
}
.services_slider .item {
  margin: 0 15px;
}

.services_slider .owl-theme .owl-controls {
  margin-top: 60px;
  text-align: center;
}
.services_slider .owl-pagination {
  bottom: 30px;
  left: 0;
  position: relative;
  right: 0;
}
.services_slider .owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.services_slider .owl-theme .owl-controls .owl-page span {
  background: #6a6868 none repeat scroll 0 0;
  border-radius: 20px;
  display: block;
  height: 3px;
  margin-right: 5px;
  margin-top: 30px;
  opacity: 1;
  width: 19px;
}

.services_slider .owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #03A1F9 none repeat scroll 0 0;
}

/* ================================= */
/* ------- Testinomial  Css  ------- */
/* ================================= */

#testimonials .heading_border {
  left: 48%;
  position: relative;
}
.testimonial-detail p{
	font-size: 28px;
	line-height: 1.5em;
	display:inline-block;
	padding: 0 10%;
	color: #000;
	font-family: 'Vidaloka', serif;
}
.testimonial-detail h3{
	font-size: 28px;
	text-align: center;
	color: #fff;
}

.testimonial-detail h5{
	font-size: 20px;
	line-height: 1.5em;
	display:inline-block;
	padding: 0 10%;
	color: #fff;
}


/* Styling Pagination*/

#testimonials .owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 	*display: inline;
}
#testimonials .owl-theme .owl-controls {
	margin-top:60px;
	text-align: center;
}
.pag_pad .owl-theme .owl-controls {
  margin-top: -60px !important;
}
#testimonials .owl-pagination {
  bottom: 30px;
  left: 0;
  position: relative;
  right: 0;
}
#testimonials  .owl-carousel .owl-item img {
  width: auto !important;
  display: inline-block;
}
#testimonials .owl-wrapper-outer {
  border-radius: 5px;
}
#testimonials-slider .owl-next {
  position: absolute;
  right: -54px;
  top: 29px;
}
#testimonials-slider .owl-prev {
  position: absolute;
  left: -54px;
  top: 29px;
}
#testimonials .owl-theme .owl-controls .owl-page span {
	display: block;
	width:19px;
	height:3px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-right:5px;
	background:#737070;
	margin-top:30px;
}
#testimonials .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* ================================= */
/* --------- Subscribe Css  ------- */
/* ================================= */

.subscribe_box {
  padding:70px 35px 50px 35px;
  position: relative;
}

.subscribe_box h2{
  padding:35px 50px 35px;
  position: relative;
  text-align: center;
  font-family: 'Vidaloka', serif;
}

.subscribe_box> p {
  font-size: 22px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.subscribe_box_form {
 padding: 10px 35px 0px 35px;
 position: relative;
 text-align: center;
}

.subscribe_box form input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
  background: #fff;
  border: 1px solid #221c1c;
  border-radius:5px;
  height: 48px;
  margin-bottom: 10px;
  padding: 0 25px;
  width: 35%;
  color: #221c1c;
}

.subscribe_box > form {  
  margin-left: -11px;
}


/* ================================= */
/* ---------- Footer  Css  --------- */
/* ================================= */

.footer_description {
  color: #fff;
  font-size: 15px;
}

.footer_botom p {
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-bottom: 80px
}

.footer_h3 {
  color: #fff;
  font-size: 25px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-family: 'Vidaloka', serif;
}
.footer_botom a {
  color: #03A1F9;
}

.adres_box > p {
  display: table-cell;
  color: #fff;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 18px;

}



 /* ================================= */
/* --------- Reponsive  Css  ------- */
/* ================================= */
@media (max-width: 1200px) {
.officeaddress .addressbox .get-tuch:nth-child(2) {
  display: none !important;
}
.callback_bg {
  background-position: center center !important;
  margin-top: 0;
}
.social-icons_1 li {
  margin-right: 0;
}
.footer_link_1 {
  display: block;
  margin-top: 15px;
}
.footer_link_1.pull-right {
  float:none !important;
}
.searc_button {
  left: 78%;
}
}
@media (max-width: 1081px) {
.searc_button {
  left: 88%;
}
#header-top_3 .cool-link_3 {
  display:block;
}
#header-top_3 .cool-link_3::after {
  top: -64px;
}
#header-top_3 .wrap-sticky .bootsnav ul.nav > li {
  padding:0 !important;
}
#header-top_3 .wrap-sticky .bootsnav ul.nav li a{
  padding:20px 12px !important;
}
h3 {
  font-size: 16px;
}
.recent_project-slider .owl-prev {
  bottom: -75px;
}
.recent_project-slider .owl-next {
  bottom: -75px;
}
#recent_project .col-md-10.m-t-55, #recent_project .col-md-10.m-t-5 {
  display: none;
}
.testimonial-detail > p::before {
	display:none;
}
.testimonial-detail > p::after {
  display:none;
}
#testimonial-slider_2 .item > img {
  display: inline-block;
  width: auto;
}
.latest_news_content .latest_news_meta span img {
  width: auto !important;
}
.image_text {
  height: 100%;
}

.our_company_border {
	display:none;
}
.error > img {
  width: 100%;
}
.border_left {
  padding:0 15px;
}
.our_team .item .col-md-7 {
  padding:0 15px;
}
.rece_text {
  margin-top: 10px;
}
.logistic .pro-video img {
  width:100%;
}
.finance_image > img {
  width: 100%;
}
.recent_tabs.finance_nav {
  height: 100%48;
}
.latest_box {
	height:100%;
  width: 100%;
}
.updates {
  height: 277px;
}
.latest_box i, .latest_box_1 i {
  display: none;
}
.latest_box span:last-child, .latest_box_1 span:last-child {
  display: none;
}
.rec-4{
  display: none !important;
}
#team_slider_2 .item {
  overflow: hidden;
}
.tp-loop-wrap h1 {
  font-size: 48px !important;
  line-height: 48px !important;
}	
}
@media (max-width: 1024px) {
#recent_project .col-md-7 {
  width: 100%;
}
#recent_project .col-md-5 {
  width: 100%;
}
#header-top_3 .navbar-brand .logo-display {
  display: none;
}
#header-top_3 .cool-link_3::after {
  top: -60px;
}
.our_team .about_box {
  padding: 32px 25px !important;
}
#news-section .add-on {
  padding-right: 0;
}
}
@media (max-width: 992px) {
#testimonial-slider {
  margin-bottom: 70px;
}
.updates {
  height: 100%;
}
.rev_slider_wrapper	{	width:100%;}

.rev_slider embed,
.rev_slider iframe,
.rev_slider object,
.rev_slider audio,
.rev_slider video {
	max-width: none !important
}


#rev_slider_35_1 .tp-leftarrow {
  margin: -20px -25px;
  transform: matrix(1, 0, 0, 1, -82, -40) !important;
}
#rev_slider_35_1 .tp-rightarrow {
  margin: -20px -25px;
  transform: matrix(1, 0, 0, 1, -30, -40) !important;
}
#rev_slider_3_forcefullwidth .tp-leftarrow {
  margin: -20px -25px;
  transform: matrix(1, 0, 0, 1, 37, 65) !important;
}
#rev_slider_3_forcefullwidth .tp-rightarrow {
  margin: -20px -25px;
  transform: matrix(1, 0, 0, 1, -30, 65) !important;
}
#header-top_3 nav.navbar.bootsnav .navbar-toggle {
  float: right;
  margin-right: 0;
}
#header-top_3 nav.navbar.bootsnav.navbar-fixed {
  padding: 10px 0;
}
#header-top_3 nav.navbar .navbar-brand img.logo {
  width:auto;
}
#header-top_3 nav.navbar.bootsnav .navbar-nav {
  margin: 26px 0;
}
.header_set .col-md-10 {
  text-align: left;
  width: 75%;
}
.header_set .col-md-2 {
  width: 25%;
}
.home2-header .col-md-4 {
  padding: 0;
}
#footer_1 .col-md-6 {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
#footer_1 .col-md-3 {
  width: 100%;
  text-align:center;
}
#footer_1 .header-top-links {
  text-align:center;
}
.social-icons_1 {
  text-align: center;
}
.social-icons_1 li {
	margin-bottom:5px;
}
.footer_botom .col-md-7 {
  text-align: center;
}
.footer_botom .col-md-5 {
  text-align: center;
}
.our_team .content-right-md img {
  width: 100%;
}
.about_box > p:nth-child(4) {
  display: none;
}.our_team .about_box {
  padding: 14px 25px !important;
}
.tp-caption h2{
  font-size:37px !important;
}
.tp-caption h2 span {
  font-size:37px !important;
}
.p_24 {
  font-size: 18px !important;
}
.tp-loop-wrap h1 {
  font-size: 28px !important;
  line-height: 28px !important;
}
}
@media (max-width: 770px) {
.about_box > p:nth-child(4) {
  display:block;
}
#funfacts .col-md-4 {
  width: 100%;
  text-align: center;
}
#funfacts .col-md-8 {
  width: 100%;
  text-align: center;
}
#header-top .col-md-8 {
  margin-top: -35px;
}
.p-56, .p-48 {
  font-size: 18px !important;
  line-height: 18px !important;
}
.tp-caption span{
  font-size: 18px !important;
  line-height: 18px !important;
}
.tp-loop-wrap h1{
  font-size: 18px !important;
  line-height: 18px !important;
}
#bg_text .bg_text_box {
  display: inline-block;
  margin-right: 15px;
}
.logistic .recent_project-slider.owl-carousel.owl-theme {
  margin-top: 25px;
}
.copmany_image {
  margin-bottom: 50px;
}
#call_back .zelected::after {
  right: 8%;
}
.logistic .testimonial-detail > p {
  padding: 10px;
}
#testimonial-slider .item {
  padding-bottom: 15px;
}
.recent_project_3_slider .owl-buttons {
	display: none;
}
.rece_text_2 {
  margin-top: 15px;
}
.navbar-header .res-5 {
  top: -4px !important;
}
.btn-light {
  padding: 16px 34px;
}
#header-bottom {
  border-bottom: 1px solid #e7e7e7;
}
#recent_project .navbar-toggle {
  color: #fff;
  top: -45px;
  font-size: 22px;
}
#call_back .zelected::after {
  bottom: 31.5%;
 }
.freight_text {
  margin-bottom: 50px;
}
.recent_project-slider .owl-prev, .recent_project-slider .owl-next {
	display: none;
}
nav.navbar .navbar-brand img.logo {
  width: 100%;
  float: left !important;
}
#header-top_3 .wrap-sticky .navbar-brand {
  padding: 3px 15px;
  margin: 10px 0 !important;
}
nav.navbar.bootsnav .navbar-toggle {
  float: right;
  margin-right: 8px;
  margin-top: 6px;
}
.bg-white {
	height: 100%;
}
.tab-content {
	text-align: center;
}
.collapse.navbar-collapse {
	height: 100% !important;
}
.attr-nav {
	margin:0;
}
.attr-nav .search {
	margin-right: 32px;
}
#search input[type="search"] {
	left: 0;
	width: 100%;
}
.searc_button {
	right: 0;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  width: 100%;
}
.owl-carousel .owl-item img {
	display: inline-block;
	width: 100%;
}
.header_set {
  display: none;
}
.shop_social_icons {
  margin-left: 47%;
}
#our_team_slider .owl-controls {
  left: 45%;
}
.over_image > img {
  display: none;
}
.latest_box {
  height: 100%;
  width: auto;
  margin-bottom:30px;
}
#footer_1 .social-icons.text-right {
  text-align: center;
  margin-top: 30px;
}
.footer_logo {
  margin-bottom: 30px;
}
#footer_1 p {
  color: #fff;
}
.broker_box {
  margin-top: 50px;
}
#s_services .owl-controls.clickable {
  right: 0;
  top: -111px;
}

#s_services .services {
  margin-bottom:30px;
}
.updates {
  height: 100%;
}
#testimonial-slider {
  margin-bottom: 80px;
}
#team {
  top: 46px;
}
#finance_bg_text_2, .finance_bg_text, #recent_project, #bg_text, #logistic_bg_text_3, #background_para {
  background-position: center center !important;
}
.heading_border_1 {
  left: 44%;
  top: 0;
  transform: translate(46%, -39%);
}
#testimonial-slider_2 .owl-pagination {
  bottom: -7px;
  left: -55px;
}
.footer_botom  .col-md-6.text-right > p {
  position: relative;
  top: -12px;
}
.footer_botom  .col-md-6 > p {
  position: relative;
  top: 16px;
}
#header-top_3 .cool-link_3::after {
  top: 0;
}
.officeaddress .addressbox .get-tuch:last-child {
  display: none !important;
}
#header-bottom .col-md-9 {
  display: inline-block;
  width: auto;
  float: right;
}
#header-bottom .col-md-3 {
  display: inline-block;
  width: auto;
  float: left;
}
}
@media (max-width: 760px) {
#header-top .col-md-8 {
  margin-top: -35px;
}
#footer .col-xs-12 {
  width:50%;
}
}
@media (max-width: 740px) {
#header-top .col-md-8 {
  margin-top: -46px;
  padding-bottom: 20px;
}
.home2-header .col-md-8 {
  margin-top: -26px !important;
  padding-bottom: 10px;
}
#s_services .owl-controls.clickable {
	display: none;
}
#header-top .cont_office {
  display:none;
}
.p-0 {
  padding: 10px 0;
}
.bg-white {
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}
#latest_news .col-md-4 {
  padding-left: 15px;
}
.footer_botom p {
  text-align: center;
}
.call_box {
  height: 100%;
}
#finance_partner .media-body, #finance_partner .media-left, .media-right {
  display: block;
}
#finance_partner .media-left.media-middle img {
  margin-bottom: 15px;
}
 .m-b-110 {
  margin-bottom: 0;
}
.counter span {
  font-size: 45px;
}
.attr-nav ul li a.dropdown-toggle {
  display: none;
}
.attr-nav {
  right: 0;
}
#latest_news .col-md-8 {
  margin-bottom: 50px;
}
#latest_news .owl-controls {
  left: 39%;
  position: absolute;
  bottom: -11px;
}
#contact-us .contact-text {
  width: 100%;
  margin-bottom: 20px;
  position: unset;
}
.footer_botom .col-md-6> p {
  position: relative !important;
  top:12px !important;
}
}
@media (max-width: 669px) {
.popup_text {
  width: 100%;
}
.popup_image {
  display: none;
}
#header-bottom .get-tuch {
  margin-left:0;
}
.banner_3_box p {
  line-height: 18px !important;
}
.tp-caption h2{
  font-size:20px !important;
}
.tp-caption h2 span {
  font-size:20px !important;
}
}
@media (max-width: 480px) {
#footer .col-xs-12 {
  width:100%;
}
#header-bottom .col-md-9 {
	display: none;
}
.tp-caption p {
  display: none;
}
.bg-white {
	height: 100%;
}
.toggle .toggle-heading a {
  height: 100%;
}
.collapse.navbar-collapse {
	height: 100% !important;
}
.attr-nav {
	margin:0;
}
.attr-nav .search {
	margin-right: 32px;
}
#search input[type="search"] {
	left: 0;
	width: 100%;
}
.searc_button {
	right: 0;
}
.services h3 span {
  transition: all 0.7s ease 0s;
  margin-right: 4px;
}
h3 {
  font-size: 17px;
}
.services_box {
  margin-bottom:30px;
}
.shop_social_icons {
  margin-left:0;
}


}
@media (max-width: 370px) {
#header-top .header-top-links {
  display:none;
}
}


